<div id="new-article-page" class="bg-light h-100 pt-40px">
  <%= render 'loader', id: 'image-upload-loader' %>
  <h2 class="text-center m-0 mb-15px">Create An Article</h2>
  <div id="article-upload-wrapper" class="article-form-file-upload-selector image-upload">
    <div class="file-upload-wrapper">
      <label class="file-input-label">
        <b>First Click To Upload Article Image To The Server</b><br><br>
        <b class="text-danger">Image must NOT be greater than 2MB</b><br><br>
        <span id="file-name">No File Selected</span>
        <input type="file" accept="image/png,image/jpg" id="image-file-input" class="clip">
      </label>
      <div class="upload-btn-wrap">
        <button id="image-upload-btn" class="btn btn-primary">Upload Image</button>
      </div>
    </div>
    <div class="article-form-wrapper">
      <div>
        <div class="form-wrap">
          <%= form_with model: @article, id: 'new_article_form' do |f| %>
            <%= f.hidden_field :image %>
            <div>
              <%= f.collection_select :category_id, @categories, :id, :name %>
            </div>
            <div>
              <%= f.text_field :title, placeholder: 'Enter Title' %>
            </div>
            <div>
              <%= f.text_area :text, placeholder: 'Content ...', class: 'article-text' %>
            </div>
            <div class="d-flex justify-content-end">
              <%= f.submit 'Submit Article', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
