<div class="category-link category-link-card">
  <a class="image-link justify-content-space-between" href="<%= category_path(category) %>">
    <img class="image-bg" src="<%= article.image %>" alt="<%= article.title %>">
    <div class="dimmer"></div>
    <div class="text-light article-category-name z-normal">
      <div class="inner"><%= category.name %></div>
    </div>
    <div class="latest-article-title text-light z-normal"><%= article.title %></div>
  </a>
</div>
