<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=1807344599282760&autoLogAppEvents=1" nonce="dZhLt95B"></script>
<div class="home-wrap page-screen bg-light">
  <div class="most-voted-wrap d-flex flex-1">
    <div class="category-link most-voted">
      <%= most_voted_link @most_voted, 'image-link justify-content-end' do %>
        <%= image_tag @most_voted.image, class: 'image-bg' %>
        <div class="dimmer"></div>
        <h3 class="title text-secondary z-normal"><%= @most_voted.title %></h3>
        <div class="text-light z-normal"><%= article_short_summary(@most_voted) %></div>
      <% end %>
    </div>
    <div class="category-link category-link-card">
      <%= render_most_voted_summary @most_voted, 'article-summary w-100' %>
    </div>
  </div>
  <div class="category-links">
    <%= category_links(@categories) %>
  </div>
</div>
