<div class="<%= class_name %>">
  <span class="article-category"><%= category.name %></span>
  <h3 class="heading"><%= article.title %></h3>
  <p class="summary"><%= article_summary article %></p>
  <div class="votes-count mb-10px">
    Voted <%= pluralize(article.votes_count, 'time') %>
  </div>
  <div class="author mb-15px"><b>Author: </b><%= article.author.name %></div>
  <div class="media_links mb-15px">
    <%= vote_link(article, current_user) %>
    <div class="media-link-wrap">
      <div class="fb-share-button" data-href="<%= article_url(article) %>" data-layout="button_count" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share
        </a>
      </div>
    </div>
    <div class="media-link-wrap">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-text="<%= article_summary article %>" data-url="<%= article_url(article) %>" data-via="chasscepts" data-show-count="false">
        Tweet
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="summary-footer"><%= link_to 'Read More', article_path(article) %></div>
</div>
